<!DOCTYPE html>
<html>
<head>
{{template "page_head_frag.html" "Home"}}
</head>
<body id="homebody">
{{template "header_frag.html" .user}}
<nav class="breadcrumb mx-4" aria-label="breadcrumbs">
    <ul>
        <li class="is-active"><a href="/" aria-current="page">Home</a></li>
    </ul>
</nav>
{{range .dashData}}
    {{template "status_frag.html" .}}
{{end}}
</body>
</html>
