<!DOCTYPE html>
<html>
<head>
{{$title := "Location"}}
{{if .Create}}
    {{$title = "Create Location"}}
{{else}}
    {{$title = sprintf "%s %s" "Edit Location " .Location.Name}}
{{end}}
{{template "page_head_frag.html" $title}}
    <script type="text/javascript" src="/static/js/location.js"></script>
</head>
<body>
{{template "header_frag.html" .User}}
    <nav class="breadcrumb mx-4" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/locations">Locations</a></li>
            <li class="is-active">
                <a href="/location/{{.Location.Id}}" aria-current="page">
{{if .Create}}
                    New Location
{{else}}
                    {{.Location.Name}}
{{end}}
                </a>
            </li>
        </ul>
    </nav>

    <div class="card">
        <div class="card-header">
            <p class="card-header-title">
                {{if .Create}} Create {{else}} Edit {{end}} Location
            </p>
        </div>
        <div class="card-content">
            <form method="POST">
                <input type="hidden" readonly="true" name="id" value="{{.Location.Id}}">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Name</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <input type="text" name="name" value="{{nilToEmptyStr .Location.Name}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Address Line 1</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <input type="text" name="addressLine1" value="{{nilToEmptyStr .Location.AddressLine1}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Address Line 2</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <input type="text" name="addressLine2" value="{{nilToEmptyStr .Location.AddressLine2}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">City</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <input type="text" name="addressCity" value="{{nilToEmptyStr .Location.AddressCity}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">State</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <input type="text" name="addressState" value="{{nilToEmptyStr .Location.AddressRegion}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Postal Code</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <input type="text" name="addressPostalCode" value="{{nilToEmptyStr .Location.AddressPostalCode}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Country</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <input type="text" name="addressCountry" value="{{nilToEmptyStr .Location.AddressCountry}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Latitude</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <input type="text" name="latitude" {{if .Location.Latitude}} value="{{.Location.Latitude}}"{{end}}>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Longitude</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <input type="text" name="longitude" {{if .Location.Longitude}} value="{{.Location.Longitude}}"{{end}}>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="control is-expanded">
                        <button class="button is-primary">{{if .Create}}Create{{else}}Update{{end}}</button>
                    </div>
                </div>
            </form>

{{if .Errors}}
            <ul class="has-text-danger">
    {{range .Errors}}
                    <li>{{.}}</li>
    {{end}}
            </ul>
{{end}}
        </div>
    </div>

{{if not .Create}}
    <!-- Secret Modal -->
    <div id="secret-modal" class="modal">
        <div class="modal-background" onclick="closeSecretModal()"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Generated <span id="secret-owner"></span> Secret</p>
                <button class="delete" aria-label="close" onclick="closeSecretModal()"></button>
            </header>
            <div class="modal-card-body">
                <p>Please make note of the newly generated secret.  It cannot be retrieved.</p>
                <p>
                    <strong>Key:</strong> <span id="key-value"></span>
                    <span class="icon">
                        <img
                                src="/static/img/duplicate_16.png"
                                alt="copy to clipboard"
                                title="copy to clipboard"
                                onclick="copyToKeyboard('key-value', 'copy-msg', 'key')"
                        >
                    </span>
                </p>
                <p>
                    <strong>Secret:</strong> <span id="secret-value"></span>
                    <span class="icon">
                        <img
                                src="/static/img/duplicate_16.png"
                                alt="copy to clipboard"
                                title="copy to clipboard"
                                onclick="copyToKeyboard('secret-value', 'copy-msg', 'secret')"
                        >
                    </span>
                </p>
                <p><span id="copy-msg"></span>&nbsp</p>
            </div>
        </div>
    </div>

    <!-- Dashboards -->
    <div class="card">
        <div class="card-header">
            <p class="card-header-title">Dashboard Keys</p>
        </div>
        <div class="card-content">
            {{template "user_dashboards_table_frag.html" .}}
            <a onclick="createDashSecret('{{$.Location.Id}}')">Add Dashboard</a>
        </div>
    </div>

    <!-- Reporters -->
    <div class="card">
        <div class="card-header">
            <p class="card-header-title">Reporter Keys</p>
        </div>
        <div class="card-content">
            {{template "reporters_table_frag.html" .}}
            <input type="text" id="reporter-name" name="reporter-name" placeholder="Reporter Name">
            <a onclick="createReporter('{{$.Location.Id}}')">Add Reporter</a>
        </div>
    </div>

    <!-- Sensors -->
    <div class="card">
        <div class="card-header">
            <p class="card-header-title">Sensors</p>
        </div>
        <div class="card-content">
            <table class="table is-striped">
                <thead>
                    <tr><th>Name</th><th>Type</th><th>Schedule</th><th>Display Unit</th><th>&nbsp;</th><th>&nbsp;</th></tr>
                </thead>
                <tbody>
{{range .Sensors}}
                    <tr>
                        <td>{{.Name}}</td>
                        <td>{{.Type}}</td>
                        <td>{{.Schedule}}</td>
                        <td>{{.DisplayUnit}}</td>
                        <td><a href="/location/{{.LocationId}}/sensor/{{.Id}}">Edit</a></td>
                        <td><a hx-delete="/sensor/{{.Id}}?redirect=/location/{{.LocationId}}/sensor/{{.Id}}">Delete</a></td>
                     </tr>
{{end}}
                </tbody>
            </table>
            <a href="/location/{{.Location.Id}}/sensor/0">Add Sensor</a>
        </div>
    </div>
{{end}}
</body>
</html>
