<!DOCTYPE html>
<html>
<head>
{{template "page_head_frag.html" "Locations"}}
</head>
<body>
{{template "header_frag.html" .user}}
<nav class="breadcrumb mx-4" aria-label="breadcrumbs">
    <ul>
        <li><a href="/">Home</a></li>
        <li class="is-active"><a href="/locations" aria-current="page">Locations</a></li>
    </ul>
</nav>
<table class="table is-striped">
    <thead>
        <tr><th>Location</th><th>Address</th><th>City</th><th>State</th><th>zip</th><th>&nbsp;</th><th>&nbsp;</th></tr>
    </thead>
    <tbody>
{{range .locations}}
        <tr id="row-{{.Id}}">
            <td>{{.Name}}</td>
            <td>{{nilToEmptyStr .AddressLine1}} {{nilToEmptyStr .AddressLine2}}</td>
            <td>{{nilToEmptyStr .AddressCity}}</td>
            <td>{{nilToEmptyStr .AddressRegion}}</td>
            <td>{{nilToEmptyStr .AddressPostalCode}}</td>
            <td><a href="/location/{{.Id}}">Edit</a></td>
            <td><a hx-target="#row-{{.Id}}" hx-delete="/location/{{.Id}}" hx-confirm="Are you sure you want to delete this location?  This cannot be undone.">Delete</a></td>
        </tr>
{{end}}
    </tbody>
</table>
<div class="go-right margin-right-15">
    <a href="/location/0">Add Location</a>
</div>
</body>
</html>
