<!DOCTYPE html>
<html>
<head>
{{$title := "Sensor"}}
{{if .Create}}
    {{$title = "Create Sensor"}}
{{else}}
    {{$title = sprintf "%s %s" "Edit Sensor " .Sensor.Name}}
{{end}}
{{template "page_head_frag.html" $title}}
    <script type="text/javascript" src="/static/js/sensor.js"></script>
</head>
<body>
{{template "header_frag.html" .User}}
    <nav class="breadcrumb mx-4" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/locations">Locations</a></li>
            <li><a href="/location/{{.Location.Id}}">{{.Location.Name}}</a></li>
            <li class="is-active">
                <a href="/location/{{.Location.Id}}/sensor/{{.Sensor.Id}}" aria-current="page">
{{if .Create}}
                    New Sensor
{{else}}
                    {{.Sensor.Name}}
{{end}}
                </a>
            </li>
        </ul>
    </nav>

    <div class="card">
        <div class="card-header">
            <p class="card-header-title">
                {{if .Create}} Create {{else}} Edit {{end}} Sensor
            </p>
        </div>
        <div class="card-content">
            <form method="POST">
                <input type="hidden" readonly="true" name="id" id="sensor-id" value="{{.Sensor.Id}}">
                <input type="hidden" readonly="true" name="locationId" value="{{.Location.Id}}">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Name</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <input type="text" name="name" size="50" value="{{.Sensor.Name}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Reporter</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <select id="reporter-id" name="reporterId">
                                    {{range .Reporters}}
                                        <option value="{{.Id}}" {{if eq .Id $.Sensor.ReporterId}} selected="selected" {{end}}>{{.Name}}</option>
                                    {{end}}
                                </select>
                                <input type="text" id="reporter-name" name="reporter-name" placeholder="Reporter Name">
                                <a onclick="createReporter('{{$.Location.Id}}')">Add Reporter</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Type</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <select id="sensor-type" name="type" onchange="sensorTypeChanged()">
                                    {{range .Types}}
                                        <option
                                                value="{{.Value}}" default-displayed-unit="{{.DefaultDisplayedUnit}}"
                                                default-stored-unit="{{.DefaultStoredUnit}}"
                                                help-text="{{.ConfigurationHelp}}"
                                                {{if eq .Value $.Sensor.Type}} selected="selected" {{end}}
                                        >{{.Name}}</option>
                                    {{end}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Schedule</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <input type="text" name="schedule" value="{{.Sensor.Schedule}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Unit Stored</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <input type="text" id="stored-unit" name="storeUnit" value="{{.Sensor.StoreUnit}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Unit Displayed</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <input type="text" id="displayed-unit" name="displayUnit" value="{{.Sensor.DisplayUnit}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Unit conversion</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <input type="text" name="displayConversion" size="50" value="{{.Sensor.DisplayConversion}}">
                                <p>
                                    Unit conversion formula from Stored to Displayed. For example, to convert from
                                    degrees Celsius to degrees Fahrenheit, use "value * (9/5) + 32". See
                                    <a target="_blank" href="https://github.com/casbin/govaluate/blob/master/MANUAL.md"
                                    >govaluate documentation</a> for more information on building the formula.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Significant Digits</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <input type="text" name="displaySigDigits" value="{{nillableInt32 .Sensor.DisplaySigDigits}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Config Data (JSON)</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <textarea
                                        id="configData"
                                        name="configData"
                                        rows="10"
                                        cols="50"
                                >{{.Sensor.ConfigData}}</textarea>
                                <div>
                                    <p id="config-data-help">&nbsp;</p>
                                    <span class="icon">
                                        <img
                                                src="/static/img/duplicate_32.png"
                                                alt="copy to clipboard"
                                                title="copy to clipboard"
                                                onclick="copyToKeyboard('configData', '!alert', 'config data')"
                                        >
                                    </span>
                                    <span class="icon">
                                        <img
                                                src="/static/img/eraser_32.png"
                                                alt="clear config data"
                                                title="clear config data"
                                                onclick="document.getElementById('configData').value = '{}'"
                                        >
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal has-text-danger">
                    <div class="field-label is-normal">
                        <label class="label">{{if .Errors}}Errors{{end}}</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                {{if .Errors}}
                                <ul>
                                    {{range .Errors}}
                                    <li>{{.}}</li>
                                    {{end}}
                                </ul>
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="control is-expanded">
                        <button class="button is-primary">{{if .Create}}Create{{else}}Update{{end}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Secret Modal -->
    <div id="secret-modal" class="modal">
        <div class="modal-background" onclick="closeSecretModal()"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Generated <span id="secret-owner"></span> Secret</p>
                <button class="delete" aria-label="close" onclick="closeSecretModal()"></button>
            </header>
            <div class="modal-card-body">
                <p>Please make note of the newly generated secret.  It cannot be retrieved.</p>
                <p>
                    <strong>Key:</strong> <span id="key-value"></span>
                    <span class="icon">
                            <img
                                    src="/static/img/duplicate_16.png"
                                    alt="copy to clipboard"
                                    title="copy to clipboard"
                                    onclick="copyToKeyboard('key-value', 'copy-msg', 'key')"
                            >
                        </span>
                </p>
                <p>
                    <strong>Secret:</strong> <span id="secret-value"></span>
                    <span class="icon">
                            <img
                                    src="/static/img/duplicate_16.png"
                                    alt="copy to clipboard"
                                    title="copy to clipboard"
                                    onclick="copyToKeyboard('secret-value', 'copy-msg', 'secret')"
                            >
                        </span>
                </p>
                <p><span id="copy-msg"></span>&nbsp</p>
            </div>
        </div>
    </div>
</body>
</html>
