<nav class="navbar">
    <div class="navbar-brand">
        <a href="/" class="navbar-item"><img src="/static/img/thermometer-half_32.png"></a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/locations">Locations</a>
        </div>

        <div class="navbar-end">
            <span class="navbar-item">Welcome {{.Name}}</span>
            <a class="navbar-item" href="/logout">Logout</a>
        </div>
    </div>
</nav>
