<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SensorCenter :: {{.}}</title>
<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/thermometer-half_16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/thermometer-half_32.png">
<link rel="icon" type="image/png" sizes="64x64" href="/static/img/thermometer-half_64.png">
<link rel="icon" type="image/svg+xml" sizes="any" href="/static/img/thermometer-half.svg">
<!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
<link rel="stylesheet" href="/static/style/common.css">
<script
        src="https://unpkg.com/htmx.org@1.9.12"
        integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
        crossorigin="anonymous"
></script>
<script type="text/javascript" src="/static/js/common.js"></script>
