<table id="reporters-table" class="table is-striped">
    <thead>
    <tr><th>Name</th><th>Key</th><th>&nbsp;</th><th>&nbsp;</th></tr>
    </thead>
    {{range .Reporters}}
    <tr id="dash-row-{{.KeyId}}">
        <td>{{.Name}}</td>
        <td>{{.KeyId}}</td>
        <td><a onclick="resetReporterSecret('{{$.Location.Id}}', '{{.Id}}')">New Secret</a></td>
        <td><a hx-target="#dash-row-{{.KeyId}}" hx-delete="/location/{{$.Location.Id}}/reporter/{{.Id}}" hx-confirm="Are you sure you want to delete this reporter?  This cannot be undone.">Delete</a></td>
    </tr>
    {{end}}
</table>
