<div class="card" id="dash-{{.dashId}}" hx-get="/status/{{.dashId}}" hx-trigger="{{.refreshTrigger}}" hx-swap="outerHTML">
    <div class="card-content">
        <div class="media-content is-centered">
            <p class="title">{{.sensorReadings.LocationName}}</p>
            <p class="sub-title">{{.sensorReadings.Reported.Format "Mon Jan _2 15:04 MST 2006"}}</p>
{{if .autoRefresh}}
            <input name="autoRefresh" type="checkbox" checked="checked" hx-post="/status/{{.dashId}}" hx-target="#dash-{{.dashId}}" hx-swap="outerHTML">Refresh every 1m</input>
{{else}}
            <input name="autoRefresh" type="checkbox" hx-post="/status/{{.dashId}}" hx-target="#dash-{{.dashId}}" hx-swap="outerHTML">Refresh every 1m</input>
{{end}}
        </div>
        <hr/>
        <div class="grid">
{{range .sensorReadings.Readings}}
                <div class="cell">
                    {{$ts := unixTime .Reading.Timestamp}}
                    <h3>{{.Sensor.Name}}</h3>
                    <p><strong>{{.Sensor.Type.ProperCase}}: </strong>{{.DisplayString}}</p>
                    <p><strong>Updated: </strong>{{$ts.Format "Mon Jan _2 15:04:05 MST 2006"}}</p>
                </div>
            </div>
{{end}}
        </div>
    </div>
</div>