<table id="user-dashboards-table" class="table is-striped">
    <thead>
    <tr><th>Key</th><th>&nbsp;</th><th>&nbsp;</th></tr>
    </thead>
    {{range .UserDashboards}}
    <tr id="dash-row-{{.KeyId}}">
        <td>{{.KeyId}}</td>
        <td><a onclick="resetDashSecret('{{$.Location.Id}}', '{{.Id}}')">New Secret</a></td>
        <td><a hx-target="#dash-row-{{.KeyId}}" hx-delete="/location/{{$.Location.Id}}/dash/{{.Id}}" hx-confirm="Are you sure you want to delete this dashboard key?  This cannot be undone.">Delete</a></td>
    </tr>
    {{end}}
</table>
