<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YoStats :: Error</title>
    <link rel="icon" type="image/x-icon" href="static/image/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="static/style/common.css">
</head>
<body style="text-align: center">
<h1>Error</h1>
<div>
    <p><bold>{{.code}}</bold> - {{.message}}</p>
    <a href="/sc_dash/view/static">Home</a>
</div>
</body>
</html>
