<div>
    <h2>{{.LocationName}}</h2>
    <h3>{{.Reported.Format "Mon Jan _2 15:04:05 MST 2006"}}</h3>
</div>
<div>
    <div class="container">
        {{$cardCount := 0}}
        {{range .Readings}}
            {{if eq $cardCount 0}}
        <div class="row">
            {{end}}
            <div class="card">
                {{$ts := unixTime .Reading.Timestamp}}
                <h3>{{.Sensor.Name}}</h3>
                <p><strong>{{.Sensor.Type.ProperCase}}: </strong>{{.DisplayString}}</p>
                <p><strong>Updated: </strong>{{$ts.Format "Mon Jan _2 15:04:05 MST 2006"}}</p>
            </div>
            {{if eq $cardCount 0}}
                {{$cardCount = 1}}
            {{else}}
        </div>
                {{$cardCount = 0}}
            {{end}}
        {{end}}
    </div>
</div>
